.game-header {
  color: #fff;
  padding: 5px 15px 5px 0px;
  position: relative;
}

.game-header>.score-block {
  display: inline-block;
}

.score-block>.score {
  position: absolute;
  right: 8px;
  top: -5px;
}

.score-block>.best-score {
  position: absolute;
  right: 8px;
  margin-top: 5px;
  font-size: 12px;
}

.game-header>.logo {
  display: inline-block;
  padding-left: 15px;
}

.game-container {
  width: 468px;
  display: block;
  margin: auto;
  background-color: #47565A;
  box-shadow: 0 19px 38px rgba(0, 0, 0, 0.30), 0 15px 12px rgba(0, 0, 0, 0.22);
  border-radius: 5px;
}

.row {
  height: 26px;
}

.column {
  border: 1px solid rgba(97, 131, 138, .1);
  width: 24px;
  height: 24px;
  display: inline-block;
}

.start-button {
  padding: 15px;
  text-align: center;
  background-color: #47565A;
  color: white;
  border-radius: 5px;
}

.start-button:hover {
  opacity: 0.65;
  cursor: pointer;
}

.start-button.new-game-button {
  margin: 0 105px 4px 105px;
}

.disable-clicks {
  pointer-events: none;
}

.new-game-menu {
  position: absolute;
  top: 225px;
  text-align: center;
  width: 468px;
}

.new-game-menu-label {
  font-weight: bold;
  font-size: 1.17em;
  margin-bottom: 13px;
  display: block;
  color: #47565A;
}

.new-best-score {
  animation: glow .5s infinite alternate;
}

@keyframes glow {
  to {
    text-shadow: 0 0 15px #ffff00;
  }
}