* {
  font-family: "Trebuchet MS", Helvetica, sans-serif;
  -moz-user-select: none;
  -khtml-user-select: none;
  -webkit-user-select: none;
  -ms-user-select: none;
  user-select: none;
}

body {
  background-color: #fff;
}

@media screen and (max-width: 730px) {
  .github-banner {
    display: none;
  }
}